*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: white;
}
.container{
background-color: white;
max-width: 1200px;
margin: 0 auto;
}
header{
    background-color: rgb(245, 201, 245);
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
}


section{

    padding: 20px;
    display: flex;
    column-gap: 2%;
    flex-wrap: wrap;
    row-gap: 20px;

}

article{
    box-shadow: 0 0 15px 0 rgb(240, 189, 240);
    padding: 5px;
    border-radius: 10px; 
    width: 49%;  

}

article h1{
    background-color: rgb(253, 204, 212);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}